pre.made-great[data-phshow]::before {
  content:attr(data-ph);
  opacity: 0.5;
  cursor: text;
  position: absolute;
  top: 4px;
  left: 4px;
}

pre.made-great {
  padding: 4px;
  position: relative;
  min-height: 1.5em;
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #999, rgba(0,0,0,0) 60%);
  border-image-slice: 1;
  padding: 4px;
  white-space: pre-wrap;
}
