extends ../layout

block titledecl
  - var title = "Manage Lectures"

block scripts
  link(rel="stylesheet" type="text/css" href="/styles/mtaga.css")
  script(src="/scripts/ajaxform.js")
  script(src="/scripts/mtaga.js")

block navbar
  ul
    li: a(href='/teacher/questions') Manage Questions
    li: a(href='/teacher/logout') Log out

block content
  if year
    p Academic year: #{year + '-' + (year+1)}
    hr
  form(method='POST' action='/teacher/lecture-create')
    input#class(type='text' name='cls' placeholder='Class' style='width: 80px; margin: 8px')
    input#div(type='text' name='div' placeholder='Division' style='width: 80px; margin: 8px')
    input#key(type='text' name='key' placeholder='Unique Key' style='margin: 8px')
    button(type='submit' style='margin: 10px') New Lecture
  hr
  if lectures
    table
      tr
        th Lecture Key
        th Class
        th Active
        th Created
        th Attendance
      each lec in lectures
        tr
          td: a(href='/teacher/lecture/'+lec.id) #{lec.key}
          td= lec.class + ' ' + lec.div
          td= (lec.active) ? "Ongoing" : "Ended"
          td= lec.reldate
          td= lec.acount
    p= 'Page: ' + (page + 1) + ' '
      a(href='/teacher/lectures?page=' + (page + 1)) Next
  else if error
    p An error occurred: #{error}
  else
    p Found no lectures
