extends ../layout

block titledecl
  - var title = "Lecture Manage"

block scripts
  link(rel="stylesheet" type="text/css" href="/styles/mtaga.css")
  script(src="/scripts/ajaxform.js")
  script(src="/scripts/mtaga.js")
  style.
    pre.formresult { display: inline-block }
    #hints-wrap { min-width: 175px; max-width: 36%; }
    td { vertical-align: top }
  script.
    function rfetch(respid) {
      var form = document.forms.respform;
      form.elements["rid"].value = respid;
      ajaxsubmit(form);
      return false;
    }

    function genericsubmit(form) {
      ajaxsubmit(form, submit_reload);
      return false;
    }

block navbar
  ul
    li: a(href='/teacher/lectures') Manage Lectures
    li: a(href='/teacher/questions') Manage Questions
    li: a(href='/teacher/logout') Log out

block content
  table
    tr
      th.right Class
      td= lec.cname
    tr
      th.right Name
      td= lec.name
    tr
      th.right Created
      td= lec.createtime
    tr
      th.right Status
      td
        form(method='POST' action='/teacher/lecture/'+lec.id+'/switch' onsubmit='return genericsubmit(this);')
          span= (lec.isactive) ? "Ongoing" : "Ended"
          button(type='submit' style='margin-left: 12px') Switch

  div.flexer
    div.flex-item
      h3 Attendance
      table
        tr
          th Roll no
          th Last login
          th Host Address
          th Responses
        each student in attn
          tr
            td= student.roll
            td= student.intime
            td(style='max-width: 200px')= student.addrs.join(', ')
            td
              if student.rlist
                each resp in student.rlist
                  a(href='#' onclick='return rfetch('+resp[0]+')')= resp[1]
                  = ', '

    div.flex-item
      h3 Questions

      table
        tr
          th Question ID
          th Preview (partial)
          th Order Key
          th
        each q in ques
          tr
            td
              a(href='/teacher/lecture/'+lec.id+'/responses/'+q.questid)= q.questid
            td(style='max-width: 360px')= q.description.length > 100 ? q.description.slice(0, 90) + ' ... [more]' : q.description
            td= q.orderkey
            td
              form(method='POST' action='/teacher/lecture/'+lec.id+'/qremove' onsubmit='return genericsubmit(this);')
                input(type='hidden' name='qid' value=q.questid)
                button(type='submit' style='margin-left: 8px') Remove
                span.formresult
      form(method='POST' action='/teacher/lecture/'+lec.id+'/qadd' onsubmit='return genericsubmit(this);')
        input(type='text' name='qid' placeholder='Question ID' style='margin: 4px; width: 80px')
        input(type='text' name='qorder' placeholder='Order Key' style='margin: 4px; width: 80px')
        button(type='submit' style='margin: 4px') Add/Edit
        span.formresult

      h4: a(href='/teacher/lecture/'+lec.id+'/preview') Preview Lecture

      h3 Response Preview
      form(name='respform' method='GET' action='/teacher/response')
        input(type='hidden' name='rid')
        pre.formresult --


    div.flex-item#hints-wrap
      h3 Hints
      form(method='POST' action='/teacher/lecture/'+lec.id+'/hints' onsubmit='return genericsubmit(this);')
        textarea(name='hints' placeholder='Provide hints (markdown)' data-make-great-again)= lec.hints
        button(type='submit' style='margin: 8px 0') Update Hints
        span.formresult
