extends ../layout

block titledecl
  - var title = "Lecture Responses"

block scripts
  script(src="/scripts/ajaxform.js")
  style.
    td { vertical-align: top }
  script.
    function rsubmit(form) {
      ajaxsubmit(form, submit_reload);
      return false;
    }

block navbar
  ul
    li: a(href='/teacher/lecture/'+lecid) Back to lecture
    li: a(href='/teacher/lectures') Manage Lectures
    li: a(href='/teacher/questions') Manage Questions
    li: a(href='/teacher/logout') Log out

block content
  span #{rcount} response(s) from #{scount} student(s).

  h3 Responses
  table
    tr
      th Roll no.
      th Response
      th Submitted
    each r in responses
      tr
        td= r.rollno
        td
          pre= r.response
        td= r.time
        td
          form(method='POST' action='/teacher/response/delete' onsubmit='return rsubmit(this);')
            input(type='hidden' name='rid' value=r.id)
            button(type='submit' style='margin-left: 8px' title='Remove an irrelevant response.') Remove
            span.formresult
