extends ../layout

block titledecl
  - var title = "Teacher Login"

block content
  form(method='POST' action='/teacher/login')
    label(for='pw' style='padding-right: 20px') Password:
    input#pw(type='password' name='password')
    button(type='submit' style='margin-left: 20px') Log in
    if error
      span(style='margin-left: 20px')= error
