extends ../layout

block titledecl
  - var title = "Manage Questions"

block scripts
  link(rel="stylesheet" type="text/css" href="/styles/mdrender.css")
  link(rel="stylesheet" type="text/css" href="/styles/mtaga.css")
  link(rel="stylesheet" type="text/css" href="/styles/prism.css")
  script(src="/scripts/ajaxform.js")
  script(src="/scripts/mtaga.js")
  script(src="/scripts/prism.js")
  style.
    pre.made-great { min-width: 360px; max-width: 640px }
    td { vertical-align: top }
    td.padtop { padding: 16px 4px }
    div.mdrender { max-width: 1200px }
    pre.qsrc {
      border-radius: .3em;
      border: 1px solid #e7e3df;
      white-space: pre-wrap;
      padding: 4px;
    }
  script.
    function qsubmit(form) {
      ajaxsubmit(form, submit_reload);
      return false;
    }

block navbar
  ul
    li: a(href='/teacher/lectures') Manage Lectures
    li: a(href='/teacher/logout') Log out

block content
  form(method='POST' action='/teacher/questions/new' onsubmit='return qsubmit(this);')
    table: tr
      td: textarea(name='text' placeholder='Question text (markdown)' data-make-great-again)
      td
        button(type='submit' style='margin: 8px') New Question
        span.formresult

  table
    thead
      tr
        th ID
        th Source
        th Rendered
        th # answers
        th
    tbody
      each q in questions
        tr
          td.padtop= q.id
          td
            pre.qsrc= q.src
          td
            div.mdrender!= q.text
          td.padtop= q.acount
          td.padtop
            form(method='POST' action='/teacher/questions/delete' onsubmit='return qsubmit(this);')
              input(type='hidden' name='qid' value=q.id)
              button(type='submit' style='margin-left: 8px') Remove
              span.formresult

  p= 'Page: ' + (page + 1) + ' '
    a(href='/teacher/questions?page=' + (page + 1)) Next
