extends layout

block titledecl
  - var title = "Error!"

block content
  p #{message}
  p Go #[a(href='#' onclick='window.history.back();return false;') back] to try again. If problem persist, contact your teacher.
