block titledecl
  - var title = null
doctype html
html
  head
    title Classroom
      if title
        = ' - ' + title
    style.
      h1, h2, h3 { border-bottom: 1px solid #ccc }
      th.right { text-align: right; padding-right: 16px }
      div.flexer { display: flex }
      div.flex-item { flex: auto }
      div.flex-item:not(:last-child) { margin-right: 12px }
      hr { border: none; border-bottom: 1px solid #ddd }
      span.formresult { display: inline-block; font-style: italic }
      span.form200 { color: #496 }
      span.formfail { color: #964 }
      input[type="text"] {
        background-color: inherit;
        border: 1px solid transparent;
        border-image: linear-gradient(to top, #999, rgba(0,0,0,0) 60%);
        border-image-slice: 1;
        padding: 4px;
      }
      section#content {
        background-color: #f8f8f8;
        padding: 8px 16px;
        border: 1px solid #666;
      }
      body { margin: 8px; min-width: 800px; background-color: #cdd; }
    block scripts
  body
    section#header
      block navbar
    section#content
      if title
        h1= title
      block content
    section#footer
      block footer
