extends ../layout

block titledecl
  - var title = "Student Home"

block scripts
  link(rel="stylesheet" type="text/css" href="/styles/mdrender.css")
  link(rel="stylesheet" type="text/css" href="/styles/mtaga.css")
  link(rel="stylesheet" type="text/css" href="/styles/prism.css")
  script(src="/scripts/ajaxform.js")
  script(src="/scripts/mtaga.js")
  script(src="/scripts/prism.js")
  style.
    h4 { margin: 16px 0 8px 0 }
    button { margin: 8px 0 }
    span.info { display: inline-block; padding-left: 8px }
  script.
    var rxhr = null;
    function rsubmit(form) {
      if (rxhr) { rxhr.abort(); }
      rxhr = ajaxsubmit(form, submit_reload);
      return false;
    }

block content
  h3 Student Profile
  table
    tr
      th.right Acad. Year
      td= profile.year + '-' + (profile.year+1)
    tr
      th.right Class
      td= profile.class + '-' + profile.div
    tr
      th.right Roll no.
      td= profile.roll
    tr
      th.right Login count
      td= profile.count
  div.flexer
    div.flex-item
      h3 Exercises
      each q in questions
        h4 Exercise #{q.qkey}
        div.mdrender!= q.qtext
        if !preview
          form(method='POST' action='/student/submit' onsubmit='return rsubmit(this);')
            input(type='hidden' name='qid' value=q.qid)
            textarea(name='response' placeholder='Write/paste your response here.' data-make-great-again)
            button(type='submit') Submit Answer
            span.info= q.rcount + " response(s) submitted."
            span.info.formresult
        hr
    div.flex-item(style='max-width: 50%')
      h3 Hints
      div.mdrender!= hints
