extends ../layout

block titledecl
  - var title = "Student Login"
  - var _form = form || {}

block content
  form(method='POST' action='/student/login')
    input(type='text' name='roll' placeholder='Roll number' style='margin: 8px' value=_form.roll)
    input(type='text' name='key' placeholder='Lecture Key' style='margin: 8px' value=_form.key)
    button(type='submit' style='margin: 8px') Log in
    if error
      span(style='margin-left: 20px')= error
